* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;
  color: rgb(255, 255, 255);

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: currentColor;
}

.home {
  max-width: 40rem;
  margin: 0 auto;
  padding: 45px;

  @media (max-width: 400px) {
    padding: 24px;
  }

  h1 {
    margin: 0 0 2rem;
  }

  article {
    padding: 1.5rem 0;
    border-top: 1px solid rgb(60, 60, 60);
  }

  h2 {
    margin: 0 0 0.5rem;
  }
}
